<div class="main users-new">
  <div class="container">
    <div class="form-heading">Login</div>
    <div class="form users-form">
      <div class="form-body">

        <%= form_tag("/login") do %>
            <p>Email Address</p>
            <input name="email" value="<%=@email%>">
            <p>Password</p>
            <input type="password" name="password" value="<%=@password%>">
            <input type="submit" value="Login">
        <% end %>

      </div>
    </div>
  </div>
</div>