<div class="about-main">
  <h2>About TweetApp</h2>
  <p>
  This is a social networking service.
  You can post your updates and tweets and communicate with other users in a fun way.
  </p>
  <img class="about-img" src="/tweets.png">
</div>